@charset "UTF-8";
@import "./common/variables.scss";
@import "./common/function.scss";
@import "./mixins/mixins.scss";
@import "./mixins/utils.scss";

// @mixin button-plain($color) {
//   color: $color;
//   background: mix($--color-white, $color, 90%);
//   border-color: mix($--color-white, $color, 60%);

//   &:hover,
//   &:focus {
//     color: $--color-white;
//     background: $color;
//     border-color: $color;
//   }

//   &:active {
//     color: $--color-white;
//     background: mix($--color-black, $color, $--button-active-shade-percent);
//     border-color: mix($--color-black, $color, $--button-active-shade-percent);
//     outline: none;
//   }

//   &.is-disabled {
//     &,
//     &:hover,
//     &:focus,
//     &:active {
//       color: mix($--color-white, $color, 40%);
//       background-color: mix($--color-white, $color, 90%);
//       border-color: mix($--color-white, $color, 80%);
//     }
//   }
// }

@mixin button-size(
  $padding-vertical,
  $padding-horizontal,
  $font-size,
  $border-radius
) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  border-radius: $border-radius;

  &.is-round {
    padding: $padding-vertical $padding-horizontal;
  }
}

// @mixin button-variant($color, $background-color, $border-color) {
//   color: $color;
//   background-color: $background-color;
//   border-color: $border-color;

//   &:hover,
//   &:focus {
//     color: $color;
//     background: mix(
//       $--color-white,
//       $background-color,
//       $--button-hover-tint-percent
//     );
//     border-color: mix(
//       $--color-white,
//       $border-color,
//       $--button-hover-tint-percent
//     );
//   }

//   &:active {
//     color: $color;
//     background: mix(
//       $--color-black,
//       $background-color,
//       $--button-active-shade-percent
//     );
//     border-color: mix(
//       $--color-black,
//       $border-color,
//       $--button-active-shade-percent
//     );
//     outline: none;
//   }

//   &.is-active {
//     color: $color;
//     background: mix(
//       $--color-black,
//       $background-color,
//       $--button-active-shade-percent
//     );
//     border-color: mix(
//       $--color-black,
//       $border-color,
//       $--button-active-shade-percent
//     );
//   }

//   &.is-disabled {
//     &,
//     &:hover,
//     &:focus,
//     &:active {
//       color: $--color-white;
//       background-color: mix($background-color, $--color-white);
//       border-color: mix($border-color, $--color-white);
//     }
//   }

//   &.is-plain {
//     @include button-plain($background-color);
//   }
// }

@include b(button) {
  display: inline-block;
  margin: 0;
  font-weight: get($button, "font.weight");
  line-height: 1;
  color: get($font, "color");
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background: get($button, "background.color");
  border: get($button, "border");
  outline: none;
  box-sizing: border-box;
  transition: 0.1s;
  -webkit-appearance: none;
  user-select: none;

  & + & {
    margin-left: 10px;
  }

  @include button-size(
    get($button, "padding.vertical"),
    get($button, "padding.horizontal"),
    get($button, "font.size"),
    get($button, "border.radius")
  );

  &:hover,
  &:focus {
    color: color("primary");
    background-color: color("primary.light-32");
    border-color: color("primary.light-4");
  }

  &:active {
    color: color("primary.dark-10");
    border-color: color("primary.dark-20");
  }

  &::-moz-focus-inner {
    border: 0;
  }

  // @include m(plain) {
  //   &:hover,
  //   &:focus {
  //     color: $--color-primary;
  //     background: $--color-white;
  //     border-color: $--color-primary;
  //   }

  //   &:active {
  //     color: mix(
  //       $--color-black,
  //       $--color-primary,
  //       $--button-active-shade-percent
  //     );
  //     background: $--color-white;
  //     border-color: mix(
  //       $--color-black,
  //       $--color-primary,
  //       $--button-active-shade-percent
  //     );
  //     outline: none;
  //   }
  // }

  // @include m(disabled) {
  //   &,
  //   &:hover,
  //   &:focus {
  //     color: $--button-disabled-font-color;
  //     cursor: not-allowed;
  //     background-color: $--button-disabled-background-color;
  //     background-image: none;
  //     border-color: $--button-disabled-border-color;
  //   }

  //   &.el-button--text {
  //     background-color: transparent;
  //   }

  //   &.is-plain {
  //     &,
  //     &:hover,
  //     &:focus {
  //       color: $--button-disabled-font-color;
  //       background-color: $--color-white;
  //       border-color: $--button-disabled-border-color;
  //     }
  //   }
  // }

  // @include m(round) {
  //   padding: 12px 23px;
  //   border-radius: 20px;
  // }

  // @include m(circle) {
  //   padding: $--button-padding-vertical;
  //   border-radius: 50%;
  // }

  // @include m(primary) {
  //   @include button-variant(
  //     $--button-primary-font-color,
  //     $--button-primary-background-color,
  //     $--button-primary-border-color
  //   );
  // }
  // @include m(success) {
  //   @include button-variant(
  //     $--button-success-font-color,
  //     $--button-success-background-color,
  //     $--button-success-border-color
  //   );
  // }
  // @include m(warning) {
  //   @include button-variant(
  //     $--button-warning-font-color,
  //     $--button-warning-background-color,
  //     $--button-warning-border-color
  //   );
  // }
  // @include m(danger) {
  //   @include button-variant(
  //     $--button-danger-font-color,
  //     $--button-danger-background-color,
  //     $--button-danger-border-color
  //   );
  // }
  // @include m(info) {
  //   @include button-variant(
  //     $--button-info-font-color,
  //     $--button-info-background-color,
  //     $--button-info-border-color
  //   );
  // }
  // @include m(medium) {
  //   @include button-size(
  //     $--button-medium-padding-vertical,
  //     $--button-medium-padding-horizontal,
  //     $--button-medium-font-size,
  //     $--button-medium-border-radius
  //   );
  //   @include m(circle) {
  //     padding: $--button-medium-padding-vertical;
  //   }
  // }
  // @include m(small) {
  //   @include button-size(
  //     $--button-small-padding-vertical,
  //     $--button-small-padding-horizontal,
  //     $--button-small-font-size,
  //     $--button-small-border-radius
  //   );
  //   @include m(circle) {
  //     padding: $--button-small-padding-vertical;
  //   }
  // }
  // @include m(mini) {
  //   @include button-size(
  //     $--button-mini-padding-vertical,
  //     $--button-mini-padding-horizontal,
  //     $--button-mini-font-size,
  //     $--button-mini-border-radius
  //   );
  //   @include m(circle) {
  //     padding: $--button-mini-padding-vertical;
  //   }
  // }
  // @include m(text) {
  //   padding-right: 0;
  //   padding-left: 0;
  //   color: $--color-primary;
  //   background: transparent;
  //   border-color: transparent;

  //   &:hover,
  //   &:focus {
  //     color: mix(
  //       $--color-white,
  //       $--color-primary,
  //       $--button-hover-tint-percent
  //     );
  //     background-color: transparent;
  //     border-color: transparent;
  //   }

  //   &:active {
  //     color: mix(
  //       $--color-black,
  //       $--color-primary,
  //       $--button-active-shade-percent
  //     );
  //     background-color: transparent;
  //     border-color: transparent;
  //   }

  //   &.is-disabled,
  //   &.is-disabled:hover,
  //   &.is-disabled:focus {
  //     border-color: transparent;
  //   }
  // }
}
