@import "function.scss";

$colors: (
  "primary": #3fa4ff,
  "warning": #ffa930,
  "danger": #ff3035,
  "success": #3aff30,
  "grey": #808080
);

@each $name in map-keys($colors) {
  $current-color: map-get($colors, $name);
  $colors: map-deep-set(
    $colors,
    $name,
    (
      base: $current-color
    )
  );
  $current-color-map: map-get($colors, $name);

  $i: 50;
  @while $i > 0 {
    @each $type in light dark {
      $color: null;

      @if $type == "light" {
        $color: lighten($current-color, $i);
      } @else {
        $color: darken($current-color, $i);
      }

      $key: $type + "-" + $i;
      $current-color-map: map-deep-set($current-color-map, $key, $color);
    }
    $i: $i - 2;
  }

  $colors: map-deep-set($colors, $name, $current-color-map);
}

$colors: map-deep-set($colors, "white", "#fff");
$colors: map-deep-set($colors, "black", "#000");

$font: (
  "color": (
    "base": color("grey.dark-30"),
    "regular": color("grey.dark-8"),
    "secondary": color("grey.light-12"),
    "disabled": color("grey.light-20"),
    "placeholder": color("grey.light-30")
  ),
  "size": (
    "xs": 12px,
    "sm": 13px,
    "base": 14px,
    "lg": 16px,
    "xl": 18px,
    "2xl": 20px
  ),
  "line-height": (
    "tight": 1.25,
    "snug": 1.375,
    "base": 1.5,
    "relaxed": 1.625,
    "loose": 2
  ),
  "weight": (
    "hairline": 100,
    "thin": 300,
    "base": 400,
    "semibold": 500,
    "bold": 700
  )
);

$border: (
  "base": 1px solid color("grey.light-36"),
  "color": (
    "base": color("grey.light-36"),
    "light-1": color("grey.light-40"),
    "light-2": color("grey.light-44")
  ),
  "width": (
    "base": 1px
  ),
  "style": (
    "base": solid
  ),
  "radius": (
    "xs": 2px,
    "sm": 3px,
    "base": 4px,
    "lg": 6px,
    "xl": 8px,
    "circle": 100%,
    "max": 99999px
  )
);

$bg: (
  "color": (
    "base": color("white"),
    "light-1": color("grey.light-48")
  )
);

$box-shadow: (
  "dark-1": #{"0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.12)"},
  "base": #{"0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04)"},
  "light-1": #{"0 2px 12px 0 rgba(0, 0, 0, 0.1)"}
);

$button: (
  "font": (
    "size": get($font, "size"),
    "weight": get($font, "weight"),
    "color": get($font, "color")
  ),
  "background": (
    "color": get($bg, "color")
  ),
  "border": (
    "base": get($border),
    "color": get($border, "color"),
    "radius": get($border, "radius")
  ),
  "padding": (
    "vertical": 12px,
    "horizontal": 20px
  ),
  "medium": (
    "font": (
      "size": get($font, "size.sm")
    ),
    "border": (
      "radius": get($border, "radius.sm")
    ),
    "padding": (
      "vertical": 10px,
      "horizontal": 18px
    )
  ),
  "small": (
    "font": (
      "size": get($font, "size.xs")
    ),
    "border": (
      "radius" get($border, "radius.xs")
    ),
    "padding": (
      "vertical": 8px,
      "horizontal": 16px
    )
  ),
  "mini": (
    "font": (
      "size": get($font, "size.xs")
    ),
    "border": (
      "radius" get($border, "radius.xs")
    ),
    "padding": (
      "vertical": 6px,
      "horizontal": 14px
    )
  )
);
