@import "function.scss";

$colors: (
  "primary": #3fa4ff,
  "warning": #ffa930,
  "danger": #ff3035,
  "success": #3aff30,
  "grey": #808080
);

@each $name in map-keys($colors) {
  $current-color: map-get($colors, $name);
  $colors: map-deep-set(
    $colors,
    $name,
    (
      normal: $current-color
    )
  );
  $current-color-map: map-get($colors, $name);

  $i: 50;
  @while $i > 0 {
    @each $type in light dark {
      $color: null;

      @if $type == "light" {
        $color: lighten($current-color, $i);
      } @else {
        $color: darken($current-color, $i);
      }

      $key: $type + "-" + $i;
      $current-color-map: map-deep-set($current-color-map, $key, $color);
    }
    $i: $i - 2;
  }

  $colors: map-deep-set($colors, $name, $current-color-map);
}

$colors: map-deep-set($colors, "white", #fff);
$colors: map-deep-set($colors, "black", #000);

$line-height: (
  "tight": 1,
  "snug": 1.25,
  "normal": 1.5,
  "relaxed": 1.75,
  "loose": 2
);

$color: (
  "placeholder": color("grey.light-30"),
  "disabled": color("grey.light-20"),
  "secondary": color("grey.light-12"),
  "normal": color("grey.dark-30"),
  "title": color("grey.dark-40"),
);

$font: (
  "size": (
    "secondary": 12px,
    "normal": 14px,
    "title": 16px,
  ),
  "weight": (
    "thin": 100,
    "normal": 400,
    "bold": 700
  )
);

$border: (
  "normal": 1px solid color("grey.light-36"),
  "color": (
    "normal": color("grey.light-36"),
    "light-1": color("grey.light-40"),
    "light-2": color("grey.light-44")
  ),
  "width": (
    "normal": 1px
  ),
  "style": (
    "normal": solid
  ),
  "radius": (
    "xs": 2px,
    "sm": 3px,
    "normal": 4px,
    "lg": 6px,
    "xl": 8px,
    "circle": 100%,
    "full": 99999px
  )
);

$bg: (
  "color": (
    "normal": color("white"),
    "light-1": color("grey.light-48")
  )
);

$box-shadow: (
  "dark-1": #{"0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.12)"},
  "normal": #{"0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04)"},
  "light-1": #{"0 2px 12px 0 rgba(0, 0, 0, 0.1)"}
);